.discovisible {
  visibility: visible !important;
}

body,footer{
	background: #AAA !important;
}

#disco-lights {
  /*Snow effect from the internet*/
  pointer-events:none;
  background: none;
	background-image: url('http://www.wearewebstars.dk/codepen/img/s1.png'), url('http://www.wearewebstars.dk/codepen/img//s3.png');
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index:1;
	-webkit-animation: snow 20s linear infinite;
	-moz-animation: snow 20s linear infinite;
	-ms-animation: snow 20s linear infinite;
	animation: snow 20s linear infinite;
}
@keyframes snow {
  0% {background-position: 0px 0px, 0px 0px;}
  100% {background-position: 5000px 500px, -1000px -100px;}
}





.beam{
position:fixed;
top:-100%;
left:50%;
height:200%;
width:100px;
margin-left:-100px;
pointer-events:none;
/*In an effort to be more transparent, I'm announcing that I'll use these lines to add transparency*/
zoom: 1;
filter: alpha(opacity=50);
opacity: 0.5;
/*transform*/
-webkit-transform:skewX(-40deg);
   -moz-transform:skewX(-40deg);
    -ms-transform:skewX(-40deg);
     -o-transform:skewX(-40deg);
        transform:skewX(-40deg);
}

@-webkit-keyframes spintheball{
50% {
-webkit-transform: skewX(40deg) translate(100px,0);
}
}

@-moz-keyframes spintheball{
50% {
-moz-transform: skewX(40deg) translate(100%,0);
}
}

@-ms-keyframes spintheball{
50% {
-ms-transform: skewX(40deg) translate(100%,0);
}
}

@-o-keyframes spintheball{
50% {
-o-transform: skewX(40deg) translate(100%,0);
}
}

@keyframes spintheball{
50% {
transform: skewX(40deg) translate(100px,0);
}
}

#beam0{
background:red;
/*animation*/
-webkit-animation:spintheball 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
   -moz-animation:spintheball 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
    -ms-animation:spintheball 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
     -o-animation:spintheball 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
        animation:spintheball 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
}
#beam1{
background:purple;
/*animation*/
-webkit-animation:spintheball 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) -1s infinite;
   -moz-animation:spintheball 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) -1s infinite;
    -ms-animation:spintheball 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) -1s infinite;
     -o-animation:spintheball 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) -1s infinite;
        animation:spintheball 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) -1s infinite;
}
#beam2{
background:blue;
/*animation*/
-webkit-animation:spintheball 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) -2s infinite;
   -moz-animation:spintheball 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) -2s infinite;
    -ms-animation:spintheball 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) -2s infinite;
     -o-animation:spintheball 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) -2s infinite;
        animation:spintheball 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) -2s infinite;
}
#beam3{
background:cyan;
/*animation*/
-webkit-animation:spintheball 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) -3s infinite;
   -moz-animation:spintheball 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) -3s infinite;
    -ms-animation:spintheball 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) -3s infinite;
     -o-animation:spintheball 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) -3s infinite;
        animation:spintheball 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) -3s infinite;
}
#beam4{
background:green;
/*animation*/
-webkit-animation:spintheball 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) -4s infinite;
   -moz-animation:spintheball 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) -4s infinite;
    -ms-animation:spintheball 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) -4s infinite;
     -o-animation:spintheball 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) -4s infinite;
        animation:spintheball 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) -4s infinite;
}
