/*! Based off of HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

/*CSS reset. From HTML5 doctor, with p and hxs omitted.*/
html, body, div, span, object, iframe,
blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video
{
    margin:0 auto; /*auto left-right margin added*/
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

ul, ol {
	margin-left: 2em;
}


html, body {
    font-size: 1em;
    line-height: 1.6;
    color: #333;
    font: "Helvetica Neue", Helvetica, Arial, sans-serif;
    height:100%; /*fix so footer stays at bottom*/
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Style
   ========================================================================== */

a {
	text-decoration: none;
	color: #0645ad; /*wikipedia color*/
	color: #4183c4; /*github color*/
	color: #26b; /*compromise*/
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: #0b0080; /*wikpedia color*/
}

p {
	text-align:justify;
}

h1 {
	font-size: 2em;
    font-family: serif;
    margin-top: 0.5em;
    line-height: 1.1;
}

h2 {
    font-size: 1.2em;
    font-weight:bold;
}

h3 {
	font-size: 1.2em;
	font-weight:bold;
}

/* ==========================================================================
   Classes and IDs
   ========================================================================== */

.subtitle {
    font-size: 1.5em;
    font-family: serif;
    color: #666;
    margin: 0.5em auto;
    padding: 0;
}

.no-bullets {
    list-style:none;
    margin-left:0; /*Undo bullet fix*/
}

.align-left {
    float: left;
}

.align-right {
    float: right;
}

/*LEFT NAVIGATION SIDEBAR*/
#tedsanders, #tedsanders a:visited {
    font-weight: bold;
    font-size: 1.2em;
    color: #333;
}

#left-navigation-sidebar ul {
    list-style:none;
    padding-top: 1em;
    margin-left: 0;
    padding-left: 5%;
}

/*RIGHT STYLE SIDEBAR*/
#right-style-sidebar {
    display: none; /*let's fix this later*/
}

/*CENTER COLUMN*/

#center-content-column {
    width: 90%;
    padding: 0 5%;
    min-height: 100%;
    position:relative;
    overflow: auto;
}

/*Footer*/

.page-footer {
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    padding-bottom: 1em;
    font-style:italic;
}

.footer-fix {
    margin-bottom: 6em;
}

 #feedbox {
    width: 10%;
    float: left;
    text-align:center;
 }
 
 .copyright {
    width: 45%;
}

 .fn {
     width:45%;
     text-align:right;
 }

.facebook-icon {
    background-image: url(http://localhost:4000/img/light.png);
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 16px; /* Or size of icon + spacing */
}

.icon-bump { /*so hacky*/
    position: relative;
    top:-2px;
}

/* ==========================================================================
   Desktop-only version
   ========================================================================== */

/*desktop style*/
@media all and (min-width: 56em) {

    /*LEFT NAVIGATION SIDEBAR*/
    #tedsanders {
        font-weight: bold;
        font-size: 1.2em;
    }

    #left-navigation-sidebar {
        position: fixed;
        text-align: left;
        left:0;
        top:0;
        height: 100%;
    }
    #left-navigation-sidebar ul {
        padding-left: 1em; /*reset mobile version*/
    }

    /*RIGHT STYLE SIDEBAR*/
    #right-style-sidebar {
        display: block; /*turn column on for wide screens*/
        position: fixed;
        text-align:right;
        right:0;
        top:0;
        height: 100%;
    }

    #right-style-sidebar li {
        /*Space out the style icons and remove the bullets*/
        margin-top: 1em;
        margin-right: 1em;
        list-style:none;
    }

    #right-style-sidebar ul>li>span>img {
        border-style:solid;
        border-width:2px;
    }

    /*CENTER COLUMN*/

    #center-content-column {
        width: 32em;
        padding: 0;
    }
}

/*bigger desktop*/
@media all and (min-width: 75em) {
    
    #center-content-column {
        width: 45em;
        padding: 0;
    }

} /*End desktop style*/


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print, /*Originally in media query section, but moved here -Ted, 2013*/
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
