---
---


body {
	background: #eef;
}

header {
	background:#0CF;
}

article {
	background: #9FC;
}

article>time {
	background:#0C0;
}

h1 {
	background: #0FF !important;
}

h2 {
	background:#090 !important;
}

h3 {
	background:#CC3 !important;
}

.link {
	background: #630;
}

 #feedbox {
    background:#fcf;
 }

 .copyright {
    background:#ffc;
}

 .fn {
     background:#cff;
 }

 #tedsanders {
 	background:#aaa;
}

#left-navigation-sidebar,#right-style-sidebar,#center-content-column {
	background:#faa;
}

.page-footer {
	background: #1a1;
}

body{
	opacity:.88;
	background-image:url('{{site.url}}/img/gridlines28.png') !important;
	background-repeat:repeat !important;
}
