<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <title>{% if page.title %} {{ page.title }} | {{ site.title }} {% else %} {{ site.title }} {% endif %}</title>
    <meta name="description" content="{% if page.description %} {{ page.description }} {% else %} {{ site.description }} {% endif %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="manifest" href="/site.webmanifest">
    <link rel="apple-touch-icon" href="/icon.png">
    <!-- favicon.ico is in the root directory -->

    <link rel="stylesheet" href="{{site.url}}/assets/css/normalize.css">
    <link rel="stylesheet" href="{{site.url}}/assets/css/main.css">
    <meta name="theme-color" content="#fafafa">
    <link rel="author" href="humans.txt"/>
  </head>

  <body>
    <nav id='nav-bar'>
      <div class='column'>
        <a id='nav-bar-link' href='{{site.url}}'>tedsanders.com</a>
      </div>
    </nav>
    <div class='column'>
      {{content}}
    </div>
  </body>
</html>