<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <title>{% if page.title %} {{ page.title }} | {{ site.title }} {% else %} {{ site.title }} {% endif %}</title>
    <meta name="description" content="{% if page.description %} {{ page.description }} {% else %} {{ site.description }} {% endif %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="apple-touch-icon" href="/icon.png">
    <!-- favicon.ico is in the root directory -->
    <link rel="stylesheet" href="{{site.url}}/assets/css/normalize.css">
    <link rel="stylesheet" href="{{site.url}}/assets/css/main.css">
    <meta name="theme-color" content="#fafafa">
    <link rel="author" href="humans.txt"/>
  </head>

  <body>
    <header>
      <nav id='nav-bar' class='column'>
        <a href='{{site.url}}'>TEDSANDERS.COM</a>
        <!--<a href='https://www.tedsanders.com/BetTheBill/'>BET THE BILL</a>-->
        <a href='{{site.url}}/about/'>ABOUT</a>
      </nav>
    </header>
    <main>
      <article class='column'>
          {{content}}
        </div>
      </article>
  </main>
  </body>
</html>