<!-- Hurray, you are reading HTML! Proceed. -->
<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{ page.title }} | {{ site.name }}</title>
        <meta name="description" content="{% if page.description %} {{ page.description }} {% else %} {{ site.description }} {% endif %}">
        <meta name="author" content="{{site.author}}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <meta property="og:title" content="{{ page.title }}" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="{{site.url}}/{{page.url}}/" />
        <meta property="og:image" content="{{site.url}}/tile.png" />
        <meta property="og:description" content="{% if page.description %} {{ page.description }} {% else %} {{ site.description }} {% endif %}" />
        <meta property="og:locale" content="en_US" />
        
        <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="{{site.url}}/feed.xml" />
        <link rel="icon" href="favicon.ico" type="image/x-icon" />

        <link rel="stylesheet" href="{{site.url}}/css/normalize.css">
        <link rel="stylesheet" href="{{site.url}}/css/main-2014-02-01.css">
        
        <link rel="alternate stylesheet" href="{{site.url}}/css/3D.css" title="3D">
        <link rel="alternate stylesheet" href="{{site.url}}/css/rainbow.css" title="rainbow">
        <link rel="alternate stylesheet" href="{{site.url}}/css/dark.css" title="dark">
        <link rel="alternate stylesheet" href="{{site.url}}/css/disco.css" title="disco">


        <!-- Head JavaScript -->

        <!-- Modernizr 2.7.0 -->
        <script src="{{site.url}}/js/vendor/modernizr-2.7.0.min.js"></script>

        <!-- D3 does not support 3D, ironically. -->
        {% if post.categories == graphs %}
        <script src="{{site.url}}/js/vendor/d3.v3.min.js"></script>
        {% endif %}


        <!-- The fastest web request is the one not made - Glass Man -->
        {% if page.jquery == true %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
        {% endif %}
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->


        <!-- The LEFT navigation column -->
        <div id="left-navigation-sidebar">
            <nav role="navigation">
                <ul>
                    <li><a id="tedsanders" href="{{site.url}}">Ted Sanders</a></li>
                    <li><a href="{{site.url}}/about">About</a></li>
                    <li><a href="{{site.url}}/blog">Blog</a></li>
                    <li><a href="{{site.url}}/reviews">Reviews</a></li>
                    <li><a href="{{site.url}}/graphs">Graphs</a></li>
                </ul>
            </nav>
            
        </div>

        <!-- The RIGHT style column-->  
        <div id="right-style-sidebar">
          
            <!-- Bling bling. Bling bling. Bling bling. We're sorry, "TED SANDERS" is not available. Please leave a message after the beep. BEEP! -->
            <ul>
                <!-- Luke, join the light side! Together we shall meaninglessly participate in the gridlocked democracy of the galaxy! -->
                <li><span onClick="setActiveStyleSheet('light'); return false;"><img src="{{site.url}}/img/light.png" alt="Luke, join the light side! Together we shall meaninglessly participate in the gridlocked democracy of the galaxy!" width="32" height="32"></span></li>
                <!-- Luke, join the dark side! Together we shall rule the galaxy! -->
                <li><span onClick="setActiveStyleSheet('dark'); return false;"><img src="{{site.url}}/img/dark.png" alt="Luke, join the dark side! Together we shall rule the galaxy!" width="32" height="32"></span></li>
                <!-- THREE DEE PHONE HOME -->
                <li><span onClick="setActiveStyleSheet('3D'); return false;"><img src="http://cdn1.iconfinder.com/data/icons/fatcow/32x32/3d_glasses.png" alt="Luke, join the third dimension! Together we shall see the depth of the galaxy!" width="32" height="32"></span></li>
                <!-- RAINBOW ROAD -->
                <li><span onClick="setActiveStyleSheet('rainbow'); return false;"><img src="{{site.url}}/img/rainboated.png" alt="Luke, join the colorful side! Together we shall match with the galaxy!" width="32" height="32"></span></li>
                <!-- DISCO DANCE -->
                <li><span onClick="setActiveStyleSheet('disco'); return false;"><img src="{{site.url}}/img/disco.png" alt="Luke, join the disco side! Together we shall dance with the galaxy!" width="32" height="32"></span></li>
            </ul>
            <audio src="http://hillarysanders.com/music/firestorm.mp3" controls loop preload="none" class="invisible discovisible"><p>"Your computer does not support my totally rad HTML5 audio player. LAME!"</p></audio>

        </div>

        <!-- The CENTER content column -->
        <div id="center-content-column">

            <article class="footer-fix">
                <header>
                <h1>{{ page.title }}</h1>
                {% if page.subtitle %} <p class="subtitle">{{ page.subtitle }}</p> {% endif %}
                <hr class="subtitle">
                </header>
                {{ content }}
            </article>
            
            <!--Disqus comments-->
            {% if page.comments == true %}
            <div id="comments">
            <div id="disqus-anchor">
                <div id="disqus_thread"></div>
                <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
            </div>
            </div>
            {% endif %}

            <!-- FOOTER -->
            <footer class="page-footer vcard">
                <hr>
                <div class="align-left copyright">Copyright 2014</div>
                <div id="feedbox"><a href="http://feeds.feedburner.com/tedsanders" title="Subscribe to my feed" rel="alternate" type="application/rss+xml"><img class="icon-bump" src="http://www.feedburner.com/fb/images/pub/feed-icon16x16.png" alt="RSS"/></a></div>
                <div class="align-right fn">Ted Sanders</div>
            </footer>
        </div>

        <!-- The code for secret disco mode. Soon it won't be so secret...-->
        <div id="beam0" class="beam"></div>
        <div id="beam1" class="beam"></div>
        <div id="beam2" class="beam"></div>
        <div id="beam3" class="beam"></div>
        <div id="beam4" class="beam"></div>

        <!-- Blocking, non-essential elements go at the end of body to speed up site -->



        <!-- JavaScript -->

        <!-- Style switcher -->
        <script src="{{site.url}}/js/styleswitcher.js"></script>

        <!-- Google Analytics. The great gaze of Google sees all. Unless you close the page before this section loads. -->
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-20709002-1', 'tedsanders.com');
          ga('send', 'pageview');

        </script>

        <!-- Disqus Comments JavaScript -->
        {% if page.comments == true %}
            <script type="text/javascript">
                /* * * CONFIGURATION VARIABLES * * */
                var disqus_shortname = 'tedsanders';

                /* * * DON'T EDIT BELOW THIS LINE * * */
                (function() {
                    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
            </script>
        {% endif %}




    </body>
</html>
