<!--Congratulations! You can read HTML. Proceed.-->

<!-- Puzzle #1: tenbbxqsmgpmibfhtedsanders -->

<!-- Every journey begins with a single step. My first step is declaring the doctype.-->
<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% if page.title %} {{ page.title }} | {% endif %} {{ site.name }}</title>
        <meta name="description" content="{% if page.description %} {{ page.description }} | {% endif %} {{ site.description }}">
        <meta name="author" content="{{site.author}}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="{{site.baseurl}}/feed.xml" />

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
        
        <script src="js/vendor/modernizr-2.7.0.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->


        <!-- The LEFT floating column-->
        <div class="left">
        <audio src="http://hillarysanders.com/music/firestorm.mp3" controls preload="none" class="invisible discovisible"><p>"Your computer does not support my totally rad HTML5 audio player. LAME!"</p></audio>
        <p class="invisible discovisible">Music aids reading comprehension. CLICK ABOVE!</p>
        </div>
        
        <!-- The RIGHT floating column-->  
        <div class="right">
          
            <!-- Bling bling. Bling bling. Bling bling. We're sorry, "TED SANDERS" is not available. Please leave a message after the beep. BEEP! -->
          <ul class="styles">
                <!-- Luke, join the light side! Together we shall meaninglessly participate in the gridlocked democracy of the galaxy! -->
                <li><span onClick="setActiveStyleSheet('light'); return false;"><img src="img/light.png" alt="Luke, join the light side! Together we shall meaninglessly participate in the gridlocked democracy of the galaxy!" width="32" height="32"></span></li>
                <!-- Luke, join the dark side! Together we shall rule the galaxy! -->
                <li><span onClick="setActiveStyleSheet('dark'); return false;"><img src="img/dark.png" alt="Luke, join the dark side! Together we shall rule the galaxy!" width="32" height="32"></span></li>
                <!-- THREE DEE PHONE HOME -->
                <li><span onClick="setActiveStyleSheet('3D'); return false;"><img src="http://cdn1.iconfinder.com/data/icons/fatcow/32x32/3d_glasses.png" alt="Luke, join the third dimension! Together we shall see the depth of the galaxy!" width="32" height="32"></span></li>
                <!-- RAINBOW ROAD -->
                <li><span onClick="setActiveStyleSheet('rainbow'); return false;"><img src="img/rainboated.png" alt="Luke, join the colorful side! Together we shall match with the galaxy!" width="32" height="32"></span></li>
                <!-- DISCO DANCE -->
                <li><span onClick="setActiveStyleSheet('disco'); return false;"><img src="img/disco.png" alt="Luke, join the disco side! Together we shall dance with the galaxy!" width="32" height="32"></span></li>
            </ul>
        </div>

<!-- Fine, I admit it. I broke my promise earlier. So sue me. But now I double promise this is where the website starts. -->
<!-- The content container contained below is content to contain the contents of the content container. -->
<div class="container">
    <header class="pageheader">
      
      <!-- Hey, that's ME! I'm Ted Sanders! -->
      <span id="tedsanders"><a href="index.php">TED SANDERS</a></span>
        
      <!-- NAVIGATION. I'm a regular Magellan. (Don't read too much into that. Magellan was a terrible dude.) --> 
        <nav>
            <ul>
                <li><a href="blog.php">Blog</a></li>
                <li><a href="advice.php">Advice</a></li>
                <li><a href="graphs.php">Graphs</a></li>
                <li><a href="science.php">Science</a></li>
                <li><a href="about.php">About</a></li>
            </ul>
        </nav>
    </header>
        
    <div class="content">

        {{ content }}

    </div>
    <!-- One who foots. ???. Like a bill? -->
    <footer class="pagefooter vcard">
        <div class="alignedleft copyright">Copyright 2013</div>
        <div id="stupidrss"><a href="http://feeds.feedburner.com/tedsanders" title="Subscribe to my feed" rel="alternate" type="application/rss+xml"><img id="rss" src="http://www.feedburner.com/fb/images/pub/feed-icon16x16.png" alt="RSS"/></a></div>
        <div class="alignedright fn">Ted Sanders</div>
    </footer>
</div>

        <!-- The code for secret disco mode. Soon it won't be so secret...-->
        <div id="beam0" class="beam"></div>
        <div id="beam1" class="beam"></div>
        <div id="beam2" class="beam"></div>
        <div id="beam3" class="beam"></div>
        <div id="beam4" class="beam"></div>

                <!-- Blocking, non-essential elements go at the end of body to speed up site -->
        <link rel="alternate stylesheet" href="css/3D.css" title="3D">
        <link rel="alternate stylesheet" href="css/rainbow.css" title="rainbow">
        <link rel="alternate stylesheet" href="css/dark.css" title="dark">
        <link rel="alternate stylesheet" href="css/disco.css" title="disco">


        <!-- JavaScript -->
        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. 
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>-->

        <!-- The fastest web request is the one not made - Glass Man
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>
        -->
        <script src="js/styleswitcher.js"></script> 
    </body>
</html>
<!-- Finis. The end. Goodbye. Bye. Get out please. Now! -->
